*{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
  background-image: url(http://2.bp.blogspot.com/-p-lcS7ISEs4/UlV_2VABmzI/AAAAAAAAZBs/2ekktLADM1M/s1600/Icy+Mountains+Wallpapers+%25281%2529.jpgs)
}
h3 {
  color: blue;
  background-color: aqua;
  text-align: center;
  margin: auto;
}
.time {
  background: blue;
  text-align: center;
  display: block;


}
img {
  width: 750px;

}
